window#waybar {
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
}

#workspaces,
#taskbar,
#window,
#mpris,
#pulseaudio,
#clock {
    border-radius: 8px;
    padding: 0em 0.8em;
    color: black;
}

#workspaces {
    background-color: #458588;
    padding: 0em 0.5em;
    color: white;
}

#workspaces button {
    padding: 0em 0.5em;
    background-color: #83a598;
    margin: 0.4em;
    border-radius: 10px;
    color: black;
    opacity: 0.4;
    transition: all 0.4s ease-in-out;
    min-width: 1em;
}

#workspaces button:hover {
    opacity: 0.7;
}

#workspaces button.active {
    background-color: #83a598;
    border-radius: 10px;
    color: black;
    opacity: 1;
    /* TODO: find of fix to the jittery with min-width */
    /* min-width: 20px; */
    transition: all 0.4s ease-in-out;
}

#taskbar {
    background-color: #928374;
}

#taskbar button {
    background-color: #282828;
    opacity: 0.4;
    margin: 0.4em;
    transition: all 0.4s ease-in-out;
}

#taskbar button:hover {
    opacity: 0.7;
}

#taskbar button.active {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}

#taskbar.empty {
    background-color: transparent;
}

#window {
    background-color: #d3869b;
}

window#waybar.empty #window {
    background-color: transparent;
}

#mpris {
    background-color: #b8bb26;
}

#pulseaudio {
    background-color: #fe8019;
}

#clock {
    background-color: #fabd2f;
}