@import "mocha.css";

window#waybar {
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
}

#workspaces,
#window,
.modules-right {
    color: @text;
    box-shadow: 0 0 .5em @surface0;
    margin: 16px 16px;
    padding: 0 1em;
    border: 2px solid @crust;
    border-radius: 20px;
    background-color: @base;
}

#workspaces {
    padding: 2px;
}

#workspaces button {
    border-color: transparent;
    border-radius: 100%;
    background-color: @pink;
    font-size: 0;
    min-height: 7px;
    min-width: 0;
    margin: 5px;
    transition: ease-out .2s;
    opacity: .7;
}

#workspaces button.empty {
    background-color: @lavender;
    transition: ease-out .2s;
    opacity: .7;
}

#workspaces button.active {
    background-color: @green;
    transition: ease-out .2s;
    opacity: 1;
}

#workspaces button.urgent {
    background-color: @red;
    transition: ease-out .2s;
    opacity: 1;
}

#workspaces button:hover {
    transition: ease-out .2s;
    opacity: 1;
}

#taskbar button {
    border-color: transparent;
    transition: ease .1s;
    padding-left: 8px;
    padding-right: 8px;
}

#taskbar button:hover {
    margin-top: -10px;
    box-shadow: none;
}

window#waybar.empty #window {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

#pulseaudio {
    color: @teal;
}

#wireplumber {
    color: @teal;
}

#clock {
    color: @peach;
    margin-left: 1em;
}